<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="background-color: black; color: #e1e1e1; padding: 10px;">Fui renderizado com sucesso. </h1>
</body>
</html>