
*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #4e4e77;
}
.title{
    font-size: 35px;
    color: #4e4e77;
    margin-bottom: 10px;
    background-color: #e1e1e1;
    border-radius: 20px;
    padding: 10px
}
.block{
    width: 100%;
    height: 100px;
    background-color: white;
    border-radius: 20px;
}

.menu{
    
    padding: 10px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

input, button{
    padding: 15px;
    margin: 5px;
    border: 0px;
    border-radius: 15px;
    background-color: #e1e1e1;
    color: #4e4e77;
}

button{
    background-color: orange;
    color: #e1e1e1;
    border: 0px;
    cursor: pointer;
    float: right;
}

p{
    text-align: center;
    font-size: 16px;
    padding: 10px;
    margin: 10px 0px 10px 0;
    background-color: #e1e1e1;
    color: #4e4e77;
    border-radius: 10px;
}

